/* Common Shared styles*/
*{
 padding: 0px;
 margin: 0px;
}
body{
 font-family: 'Merriweather Sans', sans-serif;
}
/* styles for header*/
.title1 {
 color: white;
 text-align: center;
 font-size: 32px;
 font-weight: 400;
 padding-top: 175px;
}
.title2{
color: white;
text-align: center;
font-size: 72px;
font-weight: 900;
padding: 20px 340px 170px 340px;
}
.banner {
 background: url('../resources/Banner\ Image.png'),rgba(19, 19, 19, 0.013)100%;
 width: 1320px;
 height: 600px;
 border-radius: 16px;
 background-repeat: no-repeat;
 margin: 50px;
}
/* styles for main*/
.happy1 {
color: #F00;
text-align: center;
font-size: 88px;
font-weight: 700;
}
.happy2 {
color: #F00;
text-align: center;
font-size: 24px;
font-weight: 500;
}
.happy3 {
color: #070211;
text-align: center;
font-size: 48px;
font-weight: 700;
}
.newyearpic {
 width: 800px;
 height: 500px;
 display: flex;
 align-items: center;
 padding: 10px 300px;
}
.party {
 margin: 50px;
 display: flex;
 align-items: center;
 background: url('../resources/Vectorrr.png'),rgba(19, 19, 19, 0.514)100%;
 width: 1320px;
 height: 600px;
 background-repeat: no-repeat;
 border-radius: 6px;
}
.group-70{
 width: 300px;
 height: 340px;
 padding-right: 100px;
}
.party1{
color: #FFF;
font-size: 64px;
font-weight: 900;
padding: 10px 340px 10px 80px;
}
.party2{
color: rgba(255, 255, 255, 0.80);
font-size: 18px;
font-style: normal;
font-weight: 400;
padding: 10px 340px 10px 80px;
}
.join {
color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 700;
background-color: black;
margin: 10px 340px 10px 120px;
}
.time{
 display: list-item;
 text-align: center;
 width: 1320px;
 height: 350px;
 background-color: rgb(236, 210, 210);
 margin: 50px;
 border-radius: 6px;
 border: none;
 font-weight: 600;
 font-size: 32px;
 padding-top: 80px;
}
.place {
 color: #F00;
}
.join2{
 border: none;
 background-color: #F00;
 color: white;
 border-radius: 8px;
 padding: 16px 32px;
 margin-top: 30px;
 font-weight: 600;
}